<div class="container">
<h2>Edit User</h2>
<form [formGroup]="userForm" (ngSubmit)="Submit()">
    <div>
        <label for="firstName">Name</label>
        <input type="text" name="name" id="name" formControlName="name" />
    </div>
    <div>
        <label for="address">Email</label>
        <input type="email" name="email" id="email" formControlName="email" />
    </div>
    <div>
        <label for="address">Address</label>
        <input type="text" name="address" id="address" formControlName="address" />
    </div>
    <div>
        <label for="class">Class</label>
        <input type="text" name="class" id="class" formControlName="class" />
    </div>
    <div>
        <label for="phoneNumber">Phone number</label>
        <input type="tel" name="phone" id="phone"  formControlName="phone" />
    </div>
    <div>
        <button type="submit" [disabled]="!userForm.valid" [ngClass]="userForm.valid ? 'validCl' : 'invalidCl'">Edit</button>
        <div  routerLink="/user-listing" class="back">Previous</div>
    </div>
    </form>
</div>
