<div class="container">
    <h2>User Listing  </h2>
    <div class="adduser" routerLink="/add-user">Add User</div>
    
    <div *ngIf="userListing.length > 0; else noData">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Class</th>
                    <th>Phone</th>
                   <!-- <th>Image</th> -->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userListing; let i = index">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.class}}</td>
                    <td>{{item.phone}}</td>
                    <!-- <td>{{item.image}}</td> -->
                    <td>
                        <button (click)="goToEdit(item)">Edit
                        </button>&nbsp;&nbsp; <button (click)="deleteUser(i)">Delete</button>
                    
                    </td>
                </tr>
            </tbody>
            
            
        </table>
        </div>
        <ng-template #noData>
       <p class="noData">No data!!</p> 
        </ng-template>
</div>
