table{
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 5px;
}

table th, table td{
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.adduser{
    width: 150px;
    height: 30px;
    margin: 5px 0;
    border: 1px solid #ccc;
    text-align: center;
    padding-top: 7px;
    color: #fff;
    background-color: #1717c1;
    border-radius: 5px;
}
.noData{
   
    margin-top: 20px;
    font-size: 18px;
}

button{
    width: 55px;
    height: 22px;
    margin: 5px 0;
    color: #fff;
    background-color: #1717c1;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
}