
label{
    font-weight: bold;
    display: block;
    margin: 5px 0;
}
input[type=text], input[type=email], input[type=tel]{
    width: 400px;
    height: 35px;
    margin: 5px 0;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid #686666;
}

button[type=submit]{
    width: 200px;
    height: 35px;
    margin: 5px 0;
    
    border-radius: 5px;
}

.back{
   font-weight: 700;
}