/* You can add global styles to this file, and also import other style files */
.container{
    width: 70%;
    margin: 5% auto;
}

.validCl{
    border: 1px solid #ccc;
    color: #fff;
    background-color: #1717c1;
}

.invalidCl{
    border: 1px solid #ccc;
    color: #000;
    background-color: #c6c6d9;
}
